---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Features from '../components/Features.astro';
import Install from '../components/Install.astro';
import SocialProof from '../components/SocialProof.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Recall - Your terminal remembers what you forget">
  <Navbar />
  <main class="pt-16">
    <Hero />
    <Problem />
    <Features />
    <Install />
    <SocialProof />
  </main>
  <Footer />
</Layout>
