---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import TrustPrivacy from '../components/TrustPrivacy.astro';
import Comparison from '../components/Comparison.astro';
import Install from '../components/Install.astro';
import SocialProof from '../components/SocialProof.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Recall - Stop re-Googling commands you already ran">
  <Navbar />
  <main class="pt-16">
    <Hero />
    <Problem />
    <Features />
    <HowItWorks />
    <TrustPrivacy />
    <Comparison />
    <Install />
    <SocialProof />
  </main>
  <Footer />
</Layout>
